/**
 * Basic cart css file
 */

.basic-cart-grid {
  border: none;
  color: #363636;
  display: table;
  margin: auto;
  padding: 0;
  width: 100%;
}

.basic-cart-grid .row {
  display: table-row;
  float: left;
  left: 100%;
  width: 100%;
}

.basic-cart-grid .cell {
  display: table-cell;
  float: left;
}

.basic-cart-grid .cell img {
  vertical-align: middle;
}

.basic-cart-grid .clr {
  border-bottom: 1px solid #eeeeee;
  display: table-row;
  float: left;
  left: 100%;
  width: 100%;
}

.basic-cart-grid form {
  margin: 0;
  padding: 0;
}

.basic-cart-add-to-cart {
  margin: 10px 0;
}

.basic-cart-cart {
  margin: 0 0 25px 0;
  width: 100%;
}

.basic-cart-cart-contents {
  border-bottom: 1px solid black;
  padding: 5px;
}

.basic-cart-cart-total-price-contents {
  padding: 5px;
}

.basic-cart-delete-image.cell {
  margin: 0 10px 0 0;
}

.basic-cart-cart-checkout-button {
  margin: 10px 0;
}

.basic-cart-cart-checkout-button a.button {
  float: right;
  margin-right: 0;
}

.basic-cart-cart-checkout-button-block {
  margin: 10px 0 0 0;
}

.basic-cart-cart-checkout-button-block a.button {
  margin-bottom: 0;
}

.basic-cart-cart-quantity.cell {
  float: right;
}

.basic-cart-cart-node-title {
  width: auto;
}

.basic-cart-cart-x.cell {
  float: right;
  padding: 1px 10px 3px 10px;
}

.basic-cart-cart-unit-price.cell {
  float: right;
  margin: 0;
  text-align: right;
  width: 100px;
}

.basic-cart-block .basic-cart-cart-node-title {
  width: 100%;
}

.basic-cart-block .basic-cart-cart-unit-price,
.basic-cart-block .basic-cart-cart-x,
.basic-cart-block .basic-cart-cart-quantity {
  float: left;
  text-align: right;
  width: auto;
}

.basic-cart-total-price.cell,
.basic-cart-total-vat.cell {
  float: right;
}

.basic-cart-cart-total-vat-contents,
.basic-cart-block-total-vat-contents {
  padding: 0 5px;
}

.basic-cart-total-vat.cell {
  color: #6C6C6C;
  font-size: 11px;
}

.basic-cart-order-details td {
  border: 1px solid #ccc;
}

.basic-cart-order-label {
  background-color: #efefef;
  font-weight: bold;
  width: 200px;
}

.basic-cart-order-value {
  background-color: #fff;
}

.basic-cart-order-product-price,
.basic-cart-order-total-price {
  float: right;
}

.basic-cart-order-vat {
  float: right;
  font-weight: normal;
}

.basic-cart-call-to-action {
  text-align: right;
}

.form-item-basic-cart-checkout-city {
  float: left;
  width: 350px;
}

.form-item-basic-cart-checkout-zipcode {
  float: left;
  width: 150px;
}

.form-item-basic-cart-checkout-message {
  clear: both;
}
